<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>dms3bongo</name>
            <displayName><![CDATA[Bongo Checkout]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Manages shipping and payment using Bongo Checkout]]></description>
            <author><![CDATA[DeMomentSomTres]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>